.docker/
.git/
.github/
.idea/
coverage/
data/
dist/
node_modules/
packages/*/dist/
packages/*/node_modules/
tmp/

.DS_Store
.eslintcache
packages/*/.env
packages/*/.env.*
packages/*/tsconfig.tsbuildinfo
tsconfig.tsbuildinfo
